:root {
  --bg-dark: #030303; 
  --dark-red: #710707;
  --font-gold: #9d8665; 
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: var(--bg-dark);
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  display: flex;
  align-items: center
}

.header__title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "Forum", "Inter", sans-serif;
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 400;
}

.nav__list {
  display: flex;
  color: #fff;
  font-weight: thin;
  font-size: 22px;
  list-style-type: none;
  font-family: "Roboto";
  letter-spacing: 2px;
  font-weight: 100;
}

.nav__item:hover {
  cursor: pointer;
  color: var(--font-gold)
}

.nav__item:active {
  cursor: pointer;
  color: #7E6C51;
}

.nav__item:not(:last-child) {
  margin-right: 55px;
}

.welcome {
  width: 100%;
  background-color: var(--bg-dark);
}

.welcome__content {
  display: flex;
  position: relative;
}

.welcome__title {
  text-transform: uppercase;
  font-family: "Forum", "Inter", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  color: #fff;
  margin: 0 0 50px;
  padding-top: 150px;
}

.welcome__text {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 75px;
}

.welcome__btn {
  color: #fff;
  font-weight: 300;
  font-family: "Roboto";
  padding: 0 64px;
  background-color: var(--dark-red);
  font-size: 22px;
  letter-spacing: 2px;
  min-height: 75px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.welcome__btn:hover {
  background-color: var(--font-gold);
}

.welcome__image {
  margin-bottom: 60px;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  height: 120px;
  width: 600px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 40px;
  font-size: 22px;
  /* padding: 40px 74px; */
}

.pagination__num {
  margin-right: 55px;
}

.pagination__num-left:hover, 
.pagination__num-right:hover  {
  cursor: pointer;
  color: #D2B183;
}

.pagination__line {
  margin: 0 10px;
}

.pagination__carousel {
  margin-right: 60px;
  display: flex;
  gap: 25px;
}

.carousel__item {
  height: 16px;
  width: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
}

.carousel__item:hover, 
.carousel__item--active:hover {
  background-color: #9D8665;
}

.carousel__item--active {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #D2B183;
}

.pagination__arrows {
  display: flex;
  gap: 20px;
}

.pagination__arrow-left,
.pagination__arrow-right {
  cursor: pointer;
}

.pagination__arrow-left svg path,
.pagination__arrow-right svg path {
  transition: stroke 0.3s ease;
}

.pagination__arrow-left:hover svg path,
.pagination__arrow-right:hover svg path {
  stroke: #9D8665;
}

.visiting {
  padding: 75px 0;
}

.visiting__title {
  font-family: "Forum";
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  color: var(--font-gold);
  letter-spacing: 5px;
  font-weight: 400;
  margin: 0 0 25px;
}

.visiting__line {
  background-color: var(--dark-red);
  height: 3px;
  width: 100%;
  margin-bottom: 75px;
}

.virtual-tour__cards {
  display: grid;
  width: 100%;
  gap: 75px 60px;
  grid-template-columns: repeat(auto-fit, minmax(424px, 1fr));
}

.virtual-tour__card {
  border: 2px solid red;
  width: 424px;
}

.virtual-tour__card-title {
  font-family: "Forum";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 0 10px;
}


.virtual-tour__card .virtual-tour__card-line {
 height: 2px;
 width: 70%;
 background-color: var(--dark-red); 
 margin: 0 0 10px;
 transition: width 0.5s ease;
}

.virtual-tour__card:hover .virtual-tour__card-line {
  width: 100%;
}

.virtual-tour__card-img {
  width: 100%;
  margin-bottom: 25px;
}

.virtual-tour__card-link {
  display: block;
  margin-bottom: 10px;
  color: #000;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
  cursor: pointer;
}

.virtual-tour__card-panorama {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  color: #000;
}

